body {
	background-image: url(img/1.jpg);
	background-size: cover;
	/*font-family: bebas neue;*/
	font-family: 'Oswald', sans-serif;
}

ul li {
	list-style: none;
}

.navbar {
	border-radius: 0px;
}

.content {
	
	text-align: center;
}

.tit {
	margin: 18%;
	color: white;
	font-size: 4.4em;
	background-color: black;
	height: 90px;
}

/*validate.js*/
 
.help-block.error {
  margin-bottom: 5px;
}
  