<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

<header>
    <% include ../partials/header %>
</header>

<main class="container text-center">
  <div class="tit">
    <span class="align-middle">
      Blog Application
  </span>
  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>