<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

<header>
    <% include ../partials/profile-header %>
</header>

<main class="container">
  <div>
    <div class="jumbotron">
      <h1>My Post List</h1>
    </div>

    <div>
    <%if (userPost.length > 0) { %>
      <% for(var i=0; i<userPost.length; i++) {%>
      <ul class="jumbotron">
        <li>Title: <%= userPost[i].title %></li>
        <li>Message: <%= userPost[i].body %></li>
        <a class="del" id="<%= userPost[i].id %>" href="#">
          <span style="float: right;" class="glyphicon glyphicon-remove"></span>
        </a>
      </ul>
      <% } %>
    <% } else { %>
      <div class="jumbotron">Sorry there's no post yet. Just create one!</div>
    <% } %>
    </div>

  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>
$(document).ready(function() {
  $(".del").click(function (e) {
    e.preventDefault();

    let id = $(this).attr('id');
    console.log(id);

    $.ajax({
      type: 'delete',
      contentType: "application/json; charset=utf-8",
      dataType: "html",
      url: `/postDel/${id}`,
      success: (data) => {
          console.log('success');
      }
    });
    $(this).parent().fadeToggle("slow");
  });
});
</script>

</body>
</html>