<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

<header>
    <% include ../partials/profile-header %>
</header>

<main class="container">
  <div>
    <div class="jumbotron">
      <h1>Specific Post</h1>
    </div>
    <div>
      <ul class="jumbotron">
        <li>Title: <%= post[0].title %></li>
        <li>Message: <%= post[0].body %></li>
        <%if (post[0].comments.length > 0) { %>
          <% for(let i=0; i<post[0].comments.length; i++) {%>
            <ul class="jumbotron">
              <li>Comment: <%= post[0].comments[i].dataValues.body %></li>
            </ul>
          <% } %>
        <% } else { %>
          <div class="jumbotron">Sorry there's no comment yet. Just create one!</div>
        <% } %>
      </ul>
    </div>
  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>