<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

<header>
    <% include ../partials/profile-header %>
</header>

<main class="container">
  <div>
    <div class="jumbotron">
      <h1>Users Post List</h1>
    </div>

    <div>

      <ul class="jumbotron">
        <li>Title: <%= post.title %></li>
        <li>Message: <%= post.body %></li>
        <a class="del" id="<%= post[i].id %>" href="#">
          <span style="float: right;" class="glyphicon glyphicon-remove"></span>
        </a>
      </ul>

    </div>

  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>
$(document).ready(function() {
  $(".del").click(function (e) {
    e.preventDefault();

    let id = $(this).attr('id');
    console.log(id);

    $.ajax({
      type: 'delete',
      contentType: "application/json; charset=utf-8",
      dataType: "html",
      url: `/postDel/${id}`,
      success: (data) => {
          console.log('success');
      }
    });
    $(this).parent().fadeToggle("slow");
  });
});
</script>

</body>
</html>