<!-- views/partials/footer.ejs -->

<!-- <div class="jumbotron">
	<p class="text-center">© Copyright 2018 Savino Rasola</p>
</div> -->

<script>
$(document).ready(function() {
	// $('#Modal').modal('toggle');
});	
</script>
